* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Source Code Pro Light for Powerline, Arial, sans-serif;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    padding: 0 10px;
    background-color: rgba(0,0,0,0);
    border-radius: 1000px;
    color: #ffffff;
    margin: 5px;
    border-bottom: 1px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.focused {
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: rgba(0,0,0,0);
    color: #f00;
}

#clock,
#battery,
#battery.charging,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#pulseaudio.muted,
#temperature,
#tray {
    background-color: rgba(0,0,0,0);
    color: #fff;
    padding: 0px 15px;
}

#network.disconnected {
    color: #751e2d;
}

#pulseaudio.muted {
    color: #751e2d;
}

#temperature.critical {
    background-color: #f00;
}

#idle_inhibitor {
    background-color: rgba(0,0,0,0);
    color: #751e2d;
}

#idle_inhibitor.activated {
    color: #fff;
}

@keyframes blink {
    to {
        background-color: rgba(0,0,0,0);
        color: #fff;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: rgba(0,0,0,0);
}

