window {
margin: 5px;
border: 0px;
background-color: rgba(47,52,63,0.9);
}

#input {
margin: 5px;
border: 0px;
background-color: rgba(47,52,63,0);
// color: #676e7d;
color: #fff;
}

#input::placeholder {
color: #f00;
}

#entry {
color: #676e7d;
}

#inner-box {
margin: 5px;
border: 0px;
background-color: rgba(47,52,63,0);
}

#outer-box {
margin: 5px;
border: 0px;
background-color: rgba(47,52,63,0);
}

#scroll {
margin: 5px;
border: 0px;
background-color: rgba(47,52,63,0);
}

#text {
margin: 5px;
border: 0px;
color: #9da7bf;
}
